[Unit]
Description=ddns util
After=network-online.target syslog.target nfw.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=
ExecStart=/usr/sbin/ddns /etc/ddns/ddns.conf
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
Alias=
